@charset "UTF-8";

html, body { 
	height: 100%;
}
body{
	 
}
  

.navbar{
	display:block;
	padding:5px;
}
.main{ 
}

 

h1 {
	color: #414141;
}

h2 {
	color: #414141;
}

.footerclass {
	background: #ffffff;
	color: green;
}










.logo img {
width: 100px \9; /*Force IE10 and below to size SVG images correctly*/
max-width: 100px;
margin-top:1px;
}
 
@media (max-width:480px) { 
.logo img {
    width: 25% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 70% !important;
}
}

@media (max-width:400px) { 
.logo img {
    width: 35% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 75%;
}
}

@media (max-width:385px) { 
.logo img {
    width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 70%;
}
}

@media (max-width:345px) { 
.logo img {
    width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 65%;
}
}

@media (max-width:335px) { 
.logo img {
    width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 60%;
}
}

@media (max-width:325px) { 
.logo img {
    width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 55%;
}
}

@media (max-width:315px) { 
.logo img {
    width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 50%;
}
}