

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">

	<div class="row" height="25px" style="width: 100%; padding: 5px">

		<table width="100%">
			<tbody width="100%">
				<tr width="100%">
					<td valign="baseline" width="50%"><h1>Manage Device</h1></td>
					<td valign="baseline" width="50%">
				<tr align="right">
					<td style="font-size: 18px; color: #333;"><span
						class="glyphicon glyphicon-time"></span></td>
					<td style="font-size: 15px; color: #333; padding: 10px"><p>time</p></td>
				</tr>
				</td>
				</tr>

			</tbody>

		</table>


	</div>
	<div class="w3-card-2 w3-white w3-hover-shadow w3-padding-24">
		<div class="container-fluid">
			<table class="table table-striped table-responsive table-hover">
				<thead>

					<tr>
						<th>NAME</th>
						<th>STATUS</th>
						<th>DESCRIPTION</th>
						<th>LAST REPORTED</th>
						<th>DEVICE ID</th>
						<th>LOCATION</th>
					</tr>

				</thead>
				<tbody>
					<tr>
						<td>Halo Project1</td>
						<td>
							<button style="background:#ddb65e; color:white" type="button" class="btn  btn-sm">
								<span class="glyphicon glyphicon-ok-sign"></span> OK
							</button>
						</td>
						<td>HomeAutomation</td>
						<td>few seconds ago</td>
						<td>halo23ha</td>
						<td>Negombo,LK</td>
					</tr>
				</tbody>

			</table>
			<div class="w3-bar w3-center">
				<a href="#" class="w3-button">&laquo;</a> <a href="#"
					class="w3-button w3-pale-red">1</a> <a href="#" class="w3-button">2</a>
				<a href="#" class="w3-button">3</a> <a href="#" class="w3-button">4</a>
				<a href="#" class="w3-button">&raquo;</a>
			</div>
			<button style="background: #ddb65e; color: white" type="button"
				class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-plus-sign"></span> Add New
			</button>
		</div>
	</div>
	<br>




	<div class="w3-card-2 w3-white w3-hover-shadow  ">
		<header style="background: #333; color: #ffff" class="w3-container">
			<h2>Introduce New Device</h2>
		</header>
		<div class="container-fluid">

			<br>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">DEVICE
						NAME:</label>
					<div class="w3-quarter">
						<input type="email" class="form-control input-sm" id="email"
							placeholder="Enter device name" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">DEVICE
						TYPE:</label>
					<div class="w3-quarter">
						<select type="email" class="form-control input-sm" id="email"
							placeholder="Enter de" name="email">
							<option>Please select</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">ACCOUNT:</label>
					<div class="w3-quarter">
						<select type="email" class="form-control input-sm" id="email"
							placeholder="Enter de" name="email">
							<option>Please select</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">DESCRIPTOR:</label>
					<div class="w3-quarter">
						<input type="email" class="form-control input-sm" id="email"
							placeholder="Enter descriptor" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">EXTERNAL
						ID:</label>
					<div class="w3-quarter">
						<input type="email" class="form-control input-sm" id="email"
							placeholder="Enter external ID" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">SIM IMSI:</label>
					<div class="w3-quarter">
						<input type="email" class="form-control input-sm" id="email"
							placeholder="Enter SIM IMSI" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">DEVICE
						IMEI:</label>
					<div class="w3-quarter">
						<input type="email" class="form-control input-sm" id="email"
							placeholder="Enter device IMEI" name="email">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">LOCATION:</label>

					<div class="w3-quarter">
						<div class="w3-half">
							<input type="email" class="form-control input-sm" id="email"
								placeholder="Enter lattitude" name="email">
						</div>
						<div class="w3-half">
							<input type="email" class="form-control input-sm" id="email"
								placeholder="Enter longitude" name="email">
						</div>
					</div>
				</div>
				<button style="float: right; background: #ddb65e; color: white"
					type="button" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-ok"></span> Add Device
				</button>

			</form>
			<br> <br>
		</div>



	</div>
</div>
<br><br><br><br>

